.section-title {
  background-color: #1976d2;
}

h2 {
  margin: 0;
  padding: 12px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.education-cards-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 4px 12px 4px
}

table {
  max-width: 100vw;
  display: flex;
  border-collapse: collapse;
  justify-content: center;
}

tr {
  width: 48vw;
  text-align: center;
  background-color: antiquewhite;
}

thead tr {
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.spacer {
  width: 60px;
}

.edit-icons {
  width: 44px;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  margin-top: 12px;
  margin-right: 16px;
  /* display: none; */
}

abbr {
  display: flex;
  align-items: center;
}

abbr img {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 4px;
}

abbr img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

#edit-button {
  background-color: orange;
}

#delete-button {
  background-color: red;
}

tbody tr {
  height: 40px;
  display: grid;
  align-items: center;
}

#name {
font-weight: bold;
font-size: 20px;
}

#date {
  font-weight: bold;
  font-size: 16px;
}

#course {
  border-bottom: 4px solid #1976d2;
  padding-bottom: 12px;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .education-cards-container {
    grid-template-columns: 100%;
  }
  tr {
    width: 96vw;
  }
}

@media (max-width: 400px) {
  .spacer {
    width: 48px;
  }
  .education-logo {
    transform: scale(0.84);
  }
  .edit-icons {
    width: 40px;
    margin-right: 8px;
  }
  abbr img {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 4px;
  }
}
