<section class="education-container">
  <div class="section-title">
    <div class="title-spacer"></div>
    <h2>Formación</h2>
    <div class="title-spacer" *ngIf="this.sessionSwitch != true"></div>
    <abbr title="Agregar Formación" *ngIf="this.sessionSwitch == true">
      <a href="#" (click)="openAddEducation()">
        <img src="../../assets/icons/add-icon.png" alt="Add Icon" id="add-icon">
      </a>
    </abbr>
  </div>
  <app-education-add *ngIf="addEducation"></app-education-add>
  <app-education-edit *ngIf="editEducation" [educationItem]="this.educationItem"></app-education-edit>
  <div class="education-cards-container">
    <table *ngFor="let item of data">
      <td>
        <thead>
          <tr>
            <div class="card-spacer"></div>
            <img class="education-logo" [src]="item.logoUrl" alt="Logo de {{ item.name }}"/>
            <div class="edit-icons">
              <abbr title="Editar Formación" *ngIf="this.sessionSwitch == true">
                <button type="button" (click)="openEditEducation();getElement(item.id)">
                  <input type="image" src="../../assets/icons/edit-icon.png" alt="Edit Icon" id="edit-button">
                </button>
              </abbr>
              <abbr title="Eliminar Formación" *ngIf="this.sessionSwitch == true">
                <button type="button" (click)="remove(item.id)">
                  <input type="image" src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
                </button>
              </abbr>
            </div>
          </tr>
        </thead>
        <tbody>
          <tr id="date">{{ item.startDate }} - {{ item.endDate }}</tr>
          <tr id="name">{{ item.name }}</tr>
          <tr id="course">{{ item.course }}</tr>
        </tbody>
      </td>
    </table>
  </div>
</section>
