.edit-education-container {
  padding: 12px 12px 0 12px;
}

form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
}

fieldset {
  display: grid;
  padding: 12px;
  border: none;
}

label {
  display: block;
  font-weight: bold;
  justify-self: start;
  margin-bottom: 8px;
}

input {
  width: 100%;
  justify-self: center;
}

input[type="file"] {
  background-color: white;
  cursor: pointer;
}

.edit-item-field {
  grid-column-start: 4;
  grid-column-end: 5;
  display: grid;
  justify-content: center;
  align-items: center;
}

.edit-button {
  width: 180px;
  height: 36px;
  background-color: orange;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: white;
  cursor: pointer;
}

.edit-button:hover {
  background-color: rgb(255, 175, 28);
}

/* Responsive Styles */

@media (max-width: 768px) {
  .name-field {
    grid-column: 1/3;
  }
  .course-field, .edit-image-field, .urlLogo {
    grid-column: 3/5;
  }
  .image-field {
    grid-column: 1/3;
    justify-content: center;
  }
  .edit-item-field {
    grid-column: 1/5;
  }
}

@media (max-width: 560px) {
  .name-field, .course-field, .edit-image-field, .image-field, .urlLogo {
    grid-column: 1/5;
  }
  .start-date-field {
    grid-column: 1/3;
  }
  .end-date-field {
    grid-column: 3/5;
  }
}
