<section class="edit-experience-container">
  <form>
    <fieldset>
      <label for="name">Lugar</label>
      <input type="text" id="name" name="name" [(ngModel)]="experienceItem.name">
    </fieldset>
    <fieldset>
      <label for="job">Curso</label>
      <input type="text" id="job" name="job" [(ngModel)]="experienceItem.job">
    </fieldset>
    <fieldset>
      <label for="startDate">Desde</label>
      <input type="text" id="startDate" name="startDate" [(ngModel)]="experienceItem.startDate">
    </fieldset>
    <fieldset>
      <label for="endDate">Hasta</label>
      <input type="text" id="endDate" name="endDate" [(ngModel)]="experienceItem.endDate">
    </fieldset>
    <fieldset class="edit-image-field">
      <label for="url">Cargar Logo</label>
      <input type="file" id="url" name="url" (change)="catchFile($event);uploadImage($event)">
    </fieldset>
    <fieldset class="image-field">
      <img [src]="experienceItem.logoUrl" alt="Logo de {{ experienceItem.name }}">
    </fieldset>
    <fieldset>
      <label for="logoUrl" class="urlLogo">Url del Logo</label>
      <input type="text" id="logoUrl" name="logoUrl"[(ngModel)]="experienceItem.logoUrl">
    </fieldset>
    <fieldset class="edit-item-field">
      <button class="edit-button" (click)="updateElement()">Actualizar Experiencia</button>
    </fieldset>
  </form>
</section>

