<section class="about-container">
  <app-contact></app-contact>
  <div class="introduction">
    <div class="section-title">
      <h3>Presentación</h3>
      <abbr title="Editar Presentación">
        <img src="../../assets/edit-icon.png" alt="Edit Icon">
      </abbr>
    </div>
    <div class="section-content">
      <p>Soy Desarrollador Web. Soy Desarrollador Web. Soy Desarrollador Web. Soy Desarrollador Web. Soy Desarrollador Web. Soy Desarrollador Web. Soy Desarrollador Web. Soy Desarrollador Web. Soy Desarrollador Web. Soy Desarrollador Web. Soy Desarrollador Web. Soy Desarrollador Web. Soy Desarrollador Web. Soy Desarrollador Web. Soy Desarrollador Web.</p>
    </div>
  </div>
</section>
