.about-container {
  display: flex;
}

.introduction {
  width: 68vw;
  min-width: 320px;
  padding: 24px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: large;
}

.section-title, .section-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  text-transform: uppercase;
  margin: 0;
}

abbr {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  /* display: none; */
}

img {
  width: 12px;
  height: 12px;
  background-color: orange;
  border-radius: 50%;
  padding: 4px;
}

img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

p {
  text-align: center;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .about-container {
    flex-wrap: wrap;
  }
  .introduction {
    width: 100vw;
    text-align: center;
  }
}

@media (max-width: 400px) {
  h3 {
    border-top: 4px solid #1976d2;
    padding: 24px;
  }
}
