.section-title {
  background-color: #1976d2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-spacer {
  width: 48px;
}

h2 {
  margin: 0;
  padding: 12px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.section-title abbr {
  width: 48px;
  display: flex;
  align-items: center;
}

.section-title abbr a img {
  width: 24px;
}

.section-title abbr a img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.experience-cards-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 4px 12px 4px
}

table {
  max-width: 100vw;
  display: flex;
  border-collapse: collapse;
  justify-content: center;
}

tr {
  width: 48vw;
  text-align: center;
  background-color: antiquewhite;
}

thead tr {
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card-spacer {
  width: 52px;
}

.edit-icons {
  width: 40px;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  margin-top: 12px;
  margin-right: 12px;
}

.edit-icons abbr {
  height: 18px;
}

.edit-icons abbr button {
  border: none;
  background-color: antiquewhite;
  padding: 0;
}

.edit-icons abbr input {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 4px;
  border: none;
}

abbr input:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

#edit-button {
  background-color: orange;
}

#delete-button {
  background-color: red;
}

tbody tr {
  height: 40px;
  display: grid;
  align-items: center;
}

#name {
  font-weight: bold;
  font-size: 20px;
  }

  #date {
    font-weight: bold;
    font-size: 16px;
  }

  #job {
    border-bottom: 4px solid #1976d2;
    padding-bottom: 12px;
  }

/* Responsive Styles */

@media (max-width: 768px) {
  .experience-cards-container {
    grid-template-columns: 100%;
  }
  tr {
    width: 96vw;
  }
}

@media (max-width: 400px) {
  thead tr {
    height: 72px;
  }
  .spacer {
    width: 48px;
  }
  .experience-logo {
    transform: scale(0.84);
  }
  .edit-icons {
    margin-top: 8px;
    margin-right: 8px;
  }
}
