<section class="experience-container">
  <div class="section-title">
    <h2>Experiencia</h2>
  </div>
  <div class="experience-cards-container">
    <table *ngFor="let item of data">
      <td>
        <thead>
          <tr>
            <div class="spacer"></div>
            <img class="experience-logo" [src]="item.logoUrl" alt="Logo de {{ item.name }}"/>
            <div class="edit-icons">
              <abbr title="Editar Experiencia">
                <img src="../../assets/icons/edit-icon.png" alt="Edit Icon" id="edit-button">
              </abbr>
              <abbr title="Eliminar Experiencia">
                <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
              </abbr>
            </div>
          </tr>
        </thead>
        <tbody>
          <tr id="date">{{ item.startDate }} - {{ item.endDate }}</tr>
          <tr id="name">{{ item.name }}</tr>
          <tr id="job">{{ item.job }}</tr>
        </tbody>
      </td>
    </table>
  </div>
</section>
