<section class="experience-container">
  <div class="section-title">
    <div class="title-spacer"></div>
    <h2>Experiencia</h2>
    <abbr title="Agregar Experiencia">
      <a href="#" (click)="openAddExperience()">
        <img src="../../assets/icons/add-icon.png" alt="Add Icon" id="add-icon">
      </a>
    </abbr>
  </div>
  <app-experience-add *ngIf="addExperience"></app-experience-add>
  <div class="experience-cards-container">
    <table *ngFor="let item of data">
      <td>
        <thead>
          <tr>
            <div class="card-spacer"></div>
            <img class="experience-logo" [src]="item.logoUrl" alt="Logo de {{ item.name }}"/>
            <div class="edit-icons">
              <abbr title="Editar Experiencia">
                <button>
                  <input type="image" src="../../assets/icons/edit-icon.png" alt="Edit Icon" id="edit-button">
                </button>
              </abbr>
              <abbr title="Eliminar Experiencia">
                <button type="button" (click)="remove(item.id)">
                  <input type="image" src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
                </button>
              </abbr>
            </div>
          </tr>
        </thead>
        <tbody>
          <tr id="date">{{ item.startDate }} - {{ item.endDate }}</tr>
          <tr id="name">{{ item.name }}</tr>
          <tr id="job">{{ item.job }}</tr>
        </tbody>
      </td>
    </table>
  </div>
</section>
