<section class="contact-container">
  <address>
    <div class="location-container">
      <div class="location">
        <img src="../../assets/location-violet-icon.png" alt="Location Icon">
        <p>Buenos Aires, Argentina</p>
      </div>
      <abbr title="Editar Ubicación">
        <img src="../../assets/edit-icon.png" alt="Edit Icon" class="edit-button">
      </abbr>
    </div>
    <div class=whatsapp-container>
      <div class="whatsapp">
        <img src="../../assets/whatsapp-violet-icon.png" alt="WhatsApp Icon">
        <p>+54 (11) 3443-3293</p>
      </div>
      <abbr title="Editar Número">
        <img src="../../assets/edit-icon.png" alt="Edit Icon" class="edit-button">
      </abbr>
    </div>
    <div class="email-container">
      <div class="email">
        <img src="../../assets/email-violet-icon.png" alt="Email Icon">
        <p>andresbregant@gmail.com</p>
      </div>
      <abbr title="Editar Correo">
        <img src="../../assets/edit-icon.png" alt="Edit Icon" class="edit-button">
      </abbr>
    </div>
  </address>
</section>
