<section class="contact-container" *ngFor="let item of data">
  <address>
    <div class="location-container">
      <div class="location">
        <img src="../../assets/icons/location-violet-icon.png" alt="Location Icon">
        <p> {{ item.location }}</p>
      </div>
      <abbr title="Editar Ubicación">
        <img src="../../assets/icons/edit-icon.png" alt="Edit Icon" class="edit-button">
      </abbr>
    </div>
    <div class=whatsapp-container>
      <div class="whatsapp">
        <img src="../../assets/icons/whatsapp-violet-icon.png" alt="WhatsApp Icon">
        <p>{{ item.phoneNumber }}</p>
      </div>
      <abbr title="Editar Número">
        <img src="../../assets/icons/edit-icon.png" alt="Edit Icon" class="edit-button">
      </abbr>
    </div>
    <div class="email-container">
      <div class="email">
        <img src="../../assets/icons/email-violet-icon.png" alt="Email Icon">
        <p>{{ item.email }}</p>
      </div>
      <abbr title="Editar Correo">
        <img src="../../assets/icons/edit-icon.png" alt="Edit Icon" class="edit-button">
      </abbr>
    </div>
  </address>
</section>
