.contact-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}

address {
  width: 32vw;
  min-width: 320px;
  box-sizing: border-box;
  font-style: normal;
  border-right: 4px solid #1976d2;
}

.location-container, .whatsapp-container, .email-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 24px;
}

.location, .whatsapp, .email {
  display: flex;
  align-items: center;
}

.location img, .whatsapp img, .email img {
  width: 28px;
  height: 28px;
  margin-right: 16px;
}

/* abbr {
  display: flex;
  align-items: center;
  justify-content: center;
}

abbr img {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 4px;
}

abbr img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.edit-button {
  background-color: orange;
} */

/* Responsive Styles */

@media (max-width: 768px) {
  .contact-container {
    width: 100vw;
    justify-content: center;
  }
  address {
    padding: 12px 0;
    border-right: none;
    border-bottom: 4px solid #1976d2;
  }
}

@media (max-width: 400px) {
  address {
    border: none;
    padding-top: 16px;
    padding-bottom: 0;
  }
}
