<nav class="top-bar">
  <div class="logo-container">
    <img class="primary-logo" alt="Logo de Argentina Programa" src="../../assets/logos/argentina-programa-white-logo.png" />
    <span>#YoProgramo</span>
  </div>
  <div class="spacer"></div>
  <div class="icons-button-container">
    <a href="https://github.com/andresbreg" target="_blank">
      <img class="icon" src="../.././assets/icons/github-icon.png" alt="Icono de Git-Hub">
    </a>
    <a href="https://www.linkedin.com/in/andr%C3%A9s-bregant-188a94165/" target="_blank">
      <img class="icon" src="../../assets/icons/linkedin-icon.png" alt="Icono de LinkedIn">
    </a>
    <button class="login-button" (click)="openModal()" *ngIf="this.sessionSwitch != true">Editar</button>
    <button class="login-button" id="logout-button" (click)="logout()" *ngIf="this.sessionSwitch == true">Salir</button>
  </div>
</nav>
<aside *ngIf="modalSwitch == true">
  <app-login></app-login>
</aside>
