<section class="skills">
  <div class="section-title">
    <h2>Habilidades</h2>
  </div>
  <div class="skills-container">

    <div class="skill">
      <abbr title="Eliminar Habilidad">
        <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
      </abbr>
      <figure>
        <img src="../../assets/skills/wordpress-logo.png" alt="Logo de WordPress">
        <figcaption>WordPress</figcaption>
        <div class="progress-level">
          <progress value="0.9"></progress>
          <p>Avanzado</p>
        </div>
      </figure>
    </div>

    <div class="skill">
      <abbr title="Eliminar Habilidad">
        <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
      </abbr>
      <figure>
        <img src="../../assets/skills/html5-logo.png" alt="Logo de HTML5">
        <figcaption>HTML</figcaption>
        <div class="progress-level">
          <progress value="0.9"></progress>
          <p>Avanzado</p>
        </div>
      </figure>
    </div>

  <div class="skill">
    <abbr title="Eliminar Habilidad">
      <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
    </abbr>
    <figure>
      <img src="../../assets/skills/css3-logo.png" alt="Logo de CSS3">
      <figcaption>CSS</figcaption>
      <div class="progress-level">
        <progress value="0.9"></progress>
        <p>Avanzado</p>
      </div>
    </figure>
  </div>

  <div class="skill">
    <abbr title="Eliminar Habilidad">
      <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
    </abbr>
    <figure>
      <img src="../../assets/skills/javascript-logo.png" alt="Logo de JavaScript">
      <figcaption>JavaScript</figcaption>
      <div class="progress-level">
        <progress value="0.6"></progress>
        <p>Intermedio</p>
      </div>
    </figure>
  </div>

  <div class="skill">
    <abbr title="Eliminar Habilidad">
      <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
    </abbr>
    <figure>
      <img src="../../assets/skills/typescript-logo.png" alt="Logo de TypeScript">
      <figcaption>TypeScript</figcaption>
      <div class="progress-level">
        <progress value="0.3"></progress>
        <p>Básico</p>
      </div>
    </figure>
  </div>

  <div class="skill">
    <abbr title="Eliminar Habilidad">
      <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
    </abbr>
    <figure>
      <img src="../../assets/skills/git-logo.png" alt="Logo de Git">
      <figcaption>Git</figcaption>
      <div class="progress-level">
        <progress value="0.6"></progress>
        <p>Intermedio</p>
      </div>
    </figure>
  </div>

  <div class="skill">
    <abbr title="Eliminar Habilidad">
      <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
    </abbr>
    <figure>
      <img src="../../assets/skills/github-logo.png" alt="Logo de GitHub">
      <figcaption>GitHub</figcaption>
      <div class="progress-level">
        <progress value="0.3"></progress>
        <p>Básico</p>
      </div>
    </figure>
  </div>

  <div class="skill">
    <abbr title="Eliminar Habilidad">
      <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
    </abbr>
    <figure>
      <img src="../../assets/skills/bootstrap5-logo.png" alt="Logo de Bootstrap">
      <figcaption>Bootstrap</figcaption>
      <div class="progress-level">
        <progress value="0.3"></progress>
        <p>Básico</p>
      </div>
    </figure>
  </div>

  <div class="skill">
    <abbr title="Eliminar Habilidad">
      <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
    </abbr>
    <figure>
      <img src="../../assets/skills/angular-logo.png" alt="Logo de Angular">
      <figcaption>Angular</figcaption>
      <div class="progress-level">
        <progress value="0.3"></progress>
        <p>Básico</p>
      </div>
    </figure>
  </div>

  <div class="skill">
    <abbr title="Eliminar Habilidad">
      <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
    </abbr>
    <figure>
      <img src="../../assets/skills/java-logo.png" alt="Logo de Java">
      <figcaption>Java</figcaption>
      <div class="progress-level">
        <progress value="0.3"></progress>
        <p>Básico</p>
      </div>
    </figure>
  </div>

  <div class="skill">
    <abbr title="Eliminar Habilidad">
      <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
    </abbr>
    <figure>
      <img src="../../assets/skills/spring-logo.png" alt="Logo de Spring">
      <figcaption>Spring Boot</figcaption>
      <div class="progress-level">
        <progress value="0.3"></progress>
        <p>Básico</p>
      </div>
    </figure>
  </div>

  <div class="skill">
    <abbr title="Eliminar Habilidad">
      <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
    </abbr>
    <figure>
      <img src="../../assets/skills/mysql-logo.png" alt="Logo de MySQL">
      <figcaption>MySQL</figcaption>
      <div class="progress-level">
        <progress value="0.3"></progress>
        <p>Básico</p>
      </div>
    </figure>
  </div>

  <div class="skill">
    <abbr title="Eliminar Habilidad">
      <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
    </abbr>
    <figure>
      <img src="../../assets/skills/figma-logo.png" alt="Logo de Figma">
      <figcaption>Figma</figcaption>
      <div class="progress-level">
        <progress value="0.3"></progress>
        <p>Básico</p>
      </div>
    </figure>
  </div>

  <div class="skill">
    <abbr title="Eliminar Habilidad">
      <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
    </abbr>
    <figure>
      <img src="../../assets/skills/illustrator-logo.png" alt="Logo de Adobe Illustrator">
      <figcaption>Illustrator</figcaption>
      <div class="progress-level">
        <progress value="0.6"></progress>
        <p>Intermedio</p>
      </div>
    </figure>
  </div>

  <div class="skill">
    <abbr title="Eliminar Habilidad">
      <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
    </abbr>
    <figure>
      <img src="../../assets/skills/visual-studio-code-logo.png" alt="Logo de Visual Studio Code">
      <figcaption>VS Code</figcaption>
      <div class="progress-level">
        <progress value="0.6"></progress>
        <p>Intermedio</p>
      </div>
    </figure>
  </div>

  <div class="skill">
    <abbr title="Eliminar Habilidad">
      <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
    </abbr>
    <figure>
      <img src="../../assets/skills/windows-terminal-logo.png" alt="Logo de la Terminal de Windows">
      <figcaption>Terminal</figcaption>
      <div class="progress-level">
        <progress value="0.6"></progress>
        <p>Intermedio</p>
      </div>
    </figure>
  </div>

  </div>
</section>
