<section class="skills">
  <div class="section-title">
    <h2>Habilidades</h2>
  </div>
  <div class="skills-container">

    <div class="skill" *ngFor="let item of data">
      <abbr title="Eliminar Habilidad">
        <img src="../../assets/icons/delete-icon.png" alt="Delete Icon" id="delete-button">
      </abbr>
      <figure>
        <img [src]="item.logoUrl" alt="Logo de {{ item.name }}">
        <figcaption>{{ item.name }}</figcaption>
        <div class="progress-level">
          <progress value="0.9"></progress>
          <p>{{ item.skillLevel }}</p>
        </div>
      </figure>
    </div>
  </div>
</section>
