.edit-skill-container {
  padding: 12px 12px 0 12px;
  background-color: antiquewhite;
}

form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
}

fieldset {
  padding: 12px;
  border: none;
}

.skill-level-fieldset {
  grid-column-start: 2;
  grid-column-end: 5;
}

.fieldgroup {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.level {
  float: left;
  display: flex;
  width: 1auto;
}

input[type=radio] {
  margin-bottom: 8px;
  margin-right: 8px;
}

.radio-button-label {
  float: left;
  clear: none;
}

label {
  display: block;
  font-weight: bold;
  justify-self: start;
  margin-bottom: 8px;
}

input {
  width: 100%;
  justify-self: center;
}

.radio-button-label {
  font-weight: 500;
}

.edit-image-field {
  grid-column-start: 1;
  grid-column-end: 2;
}

input[type="file"] {
  background-color: white;
  cursor: pointer;
}

.image-field {
  grid-column-start: 2;
  grid-column-end: 3;
}

.urlLogo {
  grid-column-start: 3;
  grid-column-end: 4;
}

.edit-item-field {
  grid-column-start: 4;
  grid-column-end: 5;
  display: grid;
  justify-content: center;
  align-items: center;
}

.edit-button {
  width: 180px;
  height: 36px;
  margin: auto 24px;
  background-color: orange;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: white;
  cursor: pointer;
}

.edit-button:hover {
  background-color: rgb(255, 175, 28);
}
