<section class="edit-skill-container">
  <form>
    <fieldset>
      <label for="name">Habilidad</label>
      <input type="text" id="name" name="name" [(ngModel)]="skillItem.name">
    </fieldset>
    <fieldset class="skill-level-fieldset">
      <label>Nivel</label>
      <fieldset class="fieldgroup">
        <div class="level">
          <input type="radio" id="basic" name="level" value="Básico" [(ngModel)]="skillItem.skillLevel">
          <label for="basic" class="radio-button-label">Básico</label>
        </div>
        <div class="level">
          <input type="radio" id="intermediate" name="level" value="Intermedio" [(ngModel)]="skillItem.skillLevel">
          <label for="intermediate" class="radio-button-label">Intermedio</label>
        </div>
        <div class="level">
          <input type="radio" id="advanced" name="level" value="Avanzado" [(ngModel)]="skillItem.skillLevel">
          <label for="advanced" class="radio-button-label">Avanzado</label>
        </div>
      </fieldset>
    </fieldset>
    <fieldset class="edit-image-field">
      <label for="url">Cargar Logo</label>
      <input type="file" id="url" name="url" (change)="catchFile($event);uploadImage($event)">
    </fieldset>
    <fieldset class="image-field">
      <img [src]="skillItem.logoUrl" alt="Logo de {{ skillItem.name }}">
    </fieldset>
    <fieldset>
      <label for="logoUrl" class="urlLogo">Url del Logo</label>
      <input type="text" id="logoUrl" name="logoUrl"[(ngModel)]="skillItem.logoUrl">
    </fieldset>
    <fieldset class="edit-item-field">
      <button class="edit-button" (click)="updateElement()">Actualizar Habilidad</button>
    </fieldset>
  </form>
</section>
