.edit-skill-container {
  padding: 12px 24px;
  background-color: antiquewhite;
}

form {
  display: grid;
  grid-template-columns: 320px repeat(3, 1fr);
  justify-content: center;
  text-align: center;
}

fieldset {
  display: grid;
  padding: 12px;
  border: none;
}

label {
  display: block;
  font-weight: bold;
  justify-self: start;
  margin-bottom: 8px;
}

input {
  width: 100%;
  justify-self: center;
}

.skill-level-fieldset {
  grid-column: 2/5;
}

.skill-level-label {
  justify-self: center;
}

.fieldgroup {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.level {
  display: flex;
}

input[type=radio] {
  margin-right: 8px;
}

.radio-button-label {
  font-weight: 500;
  margin-bottom: 0;
}

.edit-image-field {
  grid-column: 1/2;
}

input[type="file"] {
  background-color: white;
  cursor: pointer;
  height: fit-content;
}

.edit-item-field {
  grid-column: 2/5;
  display: grid;
  justify-content: center;
  align-items: flex-end;
}

.edit-button {
  width: 180px;
  height: 36px;
  background-color: orange;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: white;
  cursor: pointer;
}

.edit-button:hover {
  background-color: rgb(255, 175, 28);
}

.image-field {
  grid-column: 1/2;
  justify-self: center;
}

img {
  max-width: 96px;
  max-height: 96px;
}

.urlLogo {
  grid-column: 2/5;
}

#logoUrl {
  max-width: 768px;
  height: fit-content;
  justify-self: center;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .skill-name-fieldset {
    grid-column: 1/5;
  }
  .skill-level-fieldset {
    grid-column: 1/5;
  }
}

@media screen and (max-width: 640px) {
  .edit-image-field {
    grid-column: 1/5;
  }
  .edit-item-field {
    grid-column: 1/5;
    margin: 12px 0;
  }
  form {
    grid-template-columns: 160px repeat(3, 1fr);
  }
}















